/* Import the valo theme.*/
/* This only allows us to use the mixins defined in it and does not add any styles by itself. */
@import "../valo/valo.scss";

/* This contains all of your theme.*/
/* If somebody wants to extend the theme she will include this mixin. */
@mixin SimpleChat {
  /* Include all the styles from the valo theme */
  @include valo;

  /* Insert your theme rules here */
  .chat-black {
  	color: black;
  }
  
  .chat-red {
  	color: red;
  }
  .chat-blue {
  	color: blue;
  }
  .chat-green {
  	color: green;
  }
  .chat-magenta {
  	color: magenta;
  }
  .chat-yellow {
  	color: yellow;
  }
  
  .v-image-chat-black {
  	border: 1px solid black;
  }
  .v-image-chat-red {
  	border: 1px solid red;
  }
  .v-image-chat-blue {
  	border: 1px solid blue;
  }
  .v-image-chat-green {
  	border: 1px solid green;
  }
  .v-image-chat-magenta {
  	border: 1px solid magenta;
  }
  .v-image-chat-yellow {
  	border: 1px solid yellow;
  }
  #chatLog .v-image {
	height: 24px;
	margin-right: 5px;
  }
}
